/* App.css */
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: red; */

.card {
  width: 400px;
  padding: 40px;
  height: 400px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2);
  text-align: center;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.6),
    0 10px 25px rgba(171, 141, 210, 0.4);
  /* background: linear-gradient(45deg, #00dbde,#fc00ff);   */
  background: linear-gradient(135deg, #fbc2eb, #a6c1ee);
  /* background: linear-gradient(135deg, #1CB5E0, #000851); */
  border-radius: 7px
}

.login {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.input-group {
  text-align: left;
  margin-bottom: 20px;
}

.input-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s ease;
}

.input-group input:focus {
  border-color: #7b2ff7;
  outline: none;
}

.forgot {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin-bottom: 20px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  background: linear-gradient(45deg, #7b2ff7, #f107a3);
  color: white;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
}

.btn.outline {
  background: transparent;
  border: 2px solid #7b2ff7;
  color: #7b2ff7;
}

.btn.outline:hover {
  background: #7b2ff7;
  color: white;
}
