.navbar {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Left side (logo + links) */
.nav-left {
  width: 10px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 40px;
}
.nav-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-logo img{
  padding-top: 10px;
  height: 100px;
}

.nav-links {
  display: flex;
  list-style: none;
  
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-links li {
   cursor: pointer;

  color: #374151;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #2563eb;
}
.add_project{
  width: 90px 
  ;
}
/* Right side (search + login) */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  height: 40px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-self: center;
  border: 2px solid #d1d5db;
  border-radius: 20px;
  overflow: hidden;
}

.search-box input {
  border: none;
  outline: none;
  padding: 8px 5px;
  font-size: 0.95rem;
  width: 150px;
}
/* .icon{
  display: flex;
  align-items: center;
  justify-content: center;
   width: 30px;
   height:40px;
   background-color: #374151;
  border: 2px solid hsl(216, 12%, 84%);
  border-radius: 0px 0px 0px 20px;
} */
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
font-size: 20px;
margin: 0;
/* background-color: #d3430e; */
}
.search-box button {
  background-color: #2563eb;
  border: none;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: #1d4ed8;
}

.login-btn {
  background-color: #2563eb;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 6px;
  cursor: pointer;
background: linear-gradient(135deg, #d3430e, #0769e1);





  background-size: 300% 300%;
  animation: moveGradient 5s linear infinite;
  box-shadow: 0 4px 15px rgba(99, 102, 241, 0.3);
  transition: transform 0.3s ease;
}

.btn-secondary:hover {
  transform: scale(1.05);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


